$black-color: #333333;
$nearblack-color: #393B3C;
$grey-color: #747474;
$heavy-blue: #45526E;
$viol-color: #6A5DC2;
$pink-color: #DC5DFC;
$white-color: #FFFFFF;
$border-color: #B4A9FF;
$middleblue-color: #67A5EB;
$green-color: #308E21;
$light-gray-color: #FFFFFFB2;


$table-size: 1024px;
$mobile-size: 768px;
$desktop-size: 1348px;

$font-play: Play;

$transition-3ms: 0.3s ease-in;