@import './../../styles/variables.scss';

.footer .container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 40px 80px;
}

.footer {

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        border: 1px solid $white-color;
        border-radius: 8px;
        color: $white-color;
        transition: border $transition-3ms, color $transition-3ms;

        &:hover {
            border: 1px solid $border-color;
            color: $border-color;
        }


    }




}