@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins";

.like {
    padding: 16px 22px;
    border-radius: 28px;
    background-color: $black-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: auto;
    transition: background-color $transition-3ms;

    &:hover {
        background-color: $grey-color;
    }

    &:focus {
        outline: none;
        background-color: $grey-color;
    }

}