@import "tailwindcss";
@import "./../app/styles/variables.scss";
@import "./styles/_mixins.scss";



body {


  font-family: $font-play, sans-serif;
  background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
}

.container {
  padding: 0 80px;
  width: 100%;
  /* ← вместо 100vw */
  max-width: 1440px;
  /* ← ограничить максимальную ширину */
  margin: 0 auto;
  /* ← центрировать */
  box-sizing: border-box;
  /* ← чтобы padding не увеличивал ширину */

  @include vp-1024 {
    padding: 0 30px;
  }

  @include vp-768 {
    padding: 0 20px;
  }

}